<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-tap-highlight" content="no"/>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"/>
    <meta http-equiv="Content-Security-Policy"
          content="default-src * 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *"/>
    <link rel="stylesheet" type="text/css" href="css/index.css"/>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="controllers/mainCtrl.js"></script>
    <script type="text/javascript" src="controllers/footerCtrl.js"></script>
    <title>Peribilicum App</title>
</head>

<body ng-app="MyApp">
<header class="header">
    <img ng-src="img/logo.png" alt="Peribiblicum">
    <div class="branding">
        <h1><a href="https://peribiblicum.wordpress.com/">ABOUT THE BIBLE / ΠΕΡΙ ΤΗΣ ΒΙΒΛΟΥ</a></h1>
        <h4>Στοιχεία υπέρ της αξίας και αξιοπιστίας της Βίβλου</h4>
    </div>
</header>

<div class="container">
    <main class="main" ng-controller="mainCtrl">
        <div class="loading" ng-if="loading">
            <p>
                Fetching data. <br>
                Please wait...
            </p>
        </div>
        <br>
        <div ng-show="!loading">
            Filter the posts: <input type="text" ng-model="search" placeholder="Search...">
        </div>
        <br>
        <div class="main-content" ng-repeat="post in posts  | filter:search">
            <h2 id="{{post.title}}" ng-click="toggleCustom(post.title)" ng-bind-html='toTrustedHTML( post.title )'></h2>
            <div ng-if="post.show" ng-bind-html='toTrustedHTML( post.content )'></div>
        </div>
        <div><p>{{error}}</p></div>
    </main>
</div>

<footer class="footer" ng-controller="footerCtrl">
    <p>Created by: <a href="http://drupaland.eu/">Drupaland</a></p>
    <p>{{date}}. All rights reserved.</p>
</footer>
<!--<script type="text/javascript" src="js/cordova.js"></script>-->
</body>
</html>